<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 

<body>
    {% if title %}
    <h1>Hello {{title}}</h1>
    {% else %}
    <h2>Hello World</h2>
    {% endif %}
    <!-- Was retreiving the data from database and I has removed this loop currently -->
    <!-- {% for order in orders %}
    <ul>
        <li>{{product.id}}. <b>{{product.title}}</b> The Category is: <i>{{product.category.title}}</i></li> 

        <li>{{order.id}} -> {{order.customer.first_name}} -> {{product.title}}</li>
        
    </ul>
    {% endfor %} -->
<p>{{products_count}}</p>
<ul>
<!-- 
    {% for customer in customers %}
    <li>{{customer.first_name}}</li>
    <li>customer.last_name</li> 
{% endfor %} -->
{% for customer in customer_and_orders%}
    <li>{{customer}}</li>
{% endfor %}
</ul>

</body>

</html>